details {
  user-select: none;
}

details>summary span.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s;
  margin-left: auto;
}

details[open] summary span.icon {
  transform: rotate(180deg);
}

summary {
  display: flex;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

.sidebar{
  width: 30%;
  background-color: blue;
  border: 3px solid #73AD21;
  }

.sidebardetail{
 background-color: purple;
  list-style-type: none;
}
.ul{
  list-style-type: none;
}
div.bodydiv div{
	float:left;
}